body {
  font-family: Arial;
  font-size: 20px;
}

textarea {
  font-size: 20px;
}

#chat_text {
  /*width: 400px;*/
  /*height: 100px;*/
  width: 45vw;
  height: 15vh;
}

#chat_translation_text {
  /*width: 400px;*/
  /*height: 100px;*/
  width: 45vw;
  height: 15vh;
}

.input-container {
  display: flex;
  flex-direction: row;
}

#input_text {
  width: 45vw;
  height: 15vh;
  /*border: none;*/
  /*border-right: dashed 2px gray;*/
  padding: 10px;
  box-sizing: border-box;
}

#input_text_2 {
  width: 45vw;
  height: 15vh;
  /*border: none;*/
  padding: 10px;
  box-sizing: border-box;
}

.input-group {
  margin-right: 20px;
}

#translation_text {
  width: 45vw;
  height: 15vh;
  /*border: none;*/
  /*border-right: dashed 2px gray;*/
  padding: 10px;
  box-sizing: border-box;
}

#chat_text_2 {
  width: 45vw;
  height: 15vh;
  /*border: none;*/
  padding: 10px;
  box-sizing: border-box;
}